In [6]:
import pandas as pd
holiday = pd.read_csv('Holidaydata.csv')

In [7]:
holiday.shape

(15, 5)

In [8]:
print(holiday.iloc[3:9])

      Destination  Feedback Score  Av. Hotel Rating  No. All inclusive  \
3  Czech Republic               7                 3                  6
4         Denmark               7                 3                 10
5         Estonia               8                 2                 14
6         Finland               6                 4                  7
7         Germany               8                 3                  3
8         Hungary               9                 2                  1

  Most Pop City
3        Prague
4    Copenhagen
5         Talin
6      Helsinki
7        Berlin
8      Budapest

In [9]:
holiday['No. All inclusive'].mean()

9.2

In [10]:
holiday['Feedback Score'].min()

6

In [11]:
holiday['Feedback Score'].max()

9

In [12]:
myfilter = holiday['No. All inclusive'] > 9
myfilter

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10     True
11    False
12     True
13     True
14     True
Name: No. All inclusive, dtype: bool

In [13]:
above8 = holiday['Feedback Score'] > 8
above8
HighFeedback = holiday[above8]
HighFeedback.head()

,Destination,Feedback Score,Av. Hotel Rating,No. All inclusive,Most Pop City
2,Croatia,9,3,3,Split
8,Hungary,9,2,1,Budapest

In [14]:
Under2 = holiday['Feedback Score'] < 2
Delete = holiday[Under2]
Delete.head()

Empty DataFrame
Columns: [Destination, Feedback Score, Av. Hotel Rating, No. All inclusive, Most Pop City]
Index: []

In [15]:
Col_1 = holiday['Feedback Score']
Col_2 =holiday['No. All inclusive']
correlation = Col_1.corr(Col_2)
print(round(correlation, 2))
# -0.04 No or negligible relationship according to Pearsonâ€™s correlation.

-0.04